<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <%= f.label 'Post Title' %><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= text_area_tag :description, @post.description %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
